<div id="formi">
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>
  
  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
	<div id="more">
	  <div><%= f.label :cc %><br />
	  <%= f.email_field :cc %></div>
	
	  <div><%= f.label :phone %><br />
	  <%= f.email_field :phone %></div>
	</div>
  
  <div><%= f.submit "Sign up" %></div>


<div><a href="#" id="mas">Ver Mas</a>
<script type="text/javascript"></script>
<script>
	$(document).ready(function() {
	    $('#mas').click(function() {
	    	if (document.getElementById("mas").innerHTML == "Ver Mas")
	    	{
	        $('#more').slideDown();
	 	    document.getElementById("mas").innerHTML="Ver Menos";
	    	}
	    	else
	    	{	        
	    	$('#more').slideUp();
	 	    document.getElementById("mas").innerHTML="Ver Mas";
			}
	    });
	});

</script>

<style type="text/css">
	
</style>
<% end %>

</div>
<%= render "devise/shared/links" %>
</div>



